include *.md

recursive-include docs *.txt *.md

include flask_reactjs/package.json
include flask_reactjs/.babelrc
include flask_reactjs/webpack.config.js

recursive-include flask_reactjs/app/api *

recursive-include flask_reactjs/app/static *

recursive-include flask_reactjs/app/templates *

recursive-include flask_reactjs/src *

prune flask_reactjs/node_modules
prune flask_reactjs/__pycache__
prune flask_reactjs/app/__pycache__
prune flask_reactjs/app/api/__pycache__
prune flask_reactjs/app/main/__pycache__
